.feedback.feedback--pricing {

  .form-block {
    margin: 0 auto;
    padding: 20px 25px 40px;
    max-width: 630px;
    width: 100%;
    border: 1px solid #1E1E1E;
    border-radius: 19px;
    background-image: none;
    background-color: rgba(255, 255, 255, .73);
    box-shadow: 13px 13px 4px #E6FF28;
    backdrop-filter: blur(19px);
  }

  .form-box {
    &__inner-title {
      margin: 0 auto 15px;
      max-width: 590px;
      width: 100%;
      font-family: 'Roboto Mono', monospace;
      font-weight: 400;
      line-height: 162%;
      text-align: center;
      font-size: 32px;
      font-style: italic;
      letter-spacing: -.6px;
      text-transform: capitalize;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 58px;
        border-radius: 15px;
        background: $accent;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        z-index: -1;
      }

      span {
        text-decoration: 2px solid underline;
      }
    }

    &__title {
      font-size: inherit;
      font-style: inherit;
      font-weight: inherit;
      text-decoration: 2px solid underline;
    }
  }

  .form {
    margin: 0 17px;
    max-width: 505px;
    width: 100%;

    &__row {
      margin-bottom: 10px;
    }

    &__title {
      margin: 0 0 3px 10px;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
    }

    &__input {
      padding: 11px;
      border: 1px solid rgba(39, 40, 45, .40);
      background: rgba(255, 255, 255, .63);
      border-radius: 8px;
      text-align: left;
    }

    &__btn {
      margin: 35px auto 0;
      padding: 0 15px;
      max-width: 350px;
      width: 100%;
      border: none;
      background-color: $red;
      line-height: 40px;
    }
  }

  .form-sent {
    padding: 5px 5px 20px;
    display: none;
    text-align: center;
    position: relative;
    z-index: 2;

    &__img {
      margin: 0 auto 37px;
    }

    &__title {
      margin: 0 auto 25px;
      max-width: 560px;
      font-size: 24px;
      font-weight: 700;
      line-height: 130%;
    }

    &__descr {
      margin: 0 auto 30px;
      max-width: 365px;
      font-family: Work Sans;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__inner {
    margin: 0 auto;
    max-width: 860px;
    width: 100%;
  }

  &__title {
    margin-bottom: 80px;
    font-weight: 500;
    text-align: center;
  }

  &__title--min {
    font-size: 48px;
    font-weight: 700;

    span {
      display: block;
      font-size: 66px;
    }
  }
}